@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

@font-face {
    font-family: shoreline-script;
    src: url(shorelines.otf);
}

#footer {
    font-size: 24px;
    font-family: "source sans pro", sans-serif;
}

p, ul {
    font-size: 24px;
    font-family: "source sans pro", sans-serif;
}

h1 {
    font-size: 60px;
    font-family: "source sans pro", sans-serif;
    padding-bottom: 0;
    margin-bottom: 0;
}

#cursive {
    font-family: shoreline-script;
    font-size: 24px;
}

a {
    text-decoration: none;
    color: #707070;
}

a:hover {
    color: #EF180F;
}

.caption {
    font-size: 18px;
    font-family: "source sans pro", sans-serif;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: 400;
}

h2 {
    font-size: 36px;
    font-family: "source sans pro", sans-serif;
    color: black;
    font-weight: 700;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

h3 {
    font-size: 24px;
    font-weight: 700;
    font-family: "source sans pro", sans-serif;
    padding-bottom: 0;
    margin-bottom: 0;
}

.hidden {
    visibility: hidden;
}

.menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    background-color: rgb(54,163,32);
    background-color: rgba(54,163,32, 0.9);
}

.menu-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.menu a {
    font-family: "source sans pro", sans-serif;
    padding: 8px;
    text-decoration: none;
    font-size: 40px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.menu a:hover, .menu a:focus {
    font-weight: 700;
}

.menu #close {
    position: absolute;
    top: 0px;
    right: 2%;
    font-size: 100px;
}

@media screen and (max-height: 450px) {
  .menu a {font-size: 20px}
  .menu #close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

#top img {
    height: 100px;
    margin-left: 10%;
    margin-top: 2%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    margin-left: 1%;
    width: 180px;
    height: 100px;
}

#open {
    margin-right: 2%;
    width: 60px;
    height: 40px;
    cursor: pointer;
}

footer {
    margin-top: 2%;
    margin-bottom: 0%;
    background-color: #36A320;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#socials img {
    height: 100%;
    padding-left: 30px;
}

#socials {
    height: 30px;
}

.insta {
    overflow: hidden;
    width: 90%;
    height: 90%;
    padding-left: 5%;
    padding-right: 5%;
}

main {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}
#aboutcolumn1 {
    width: 45%;
}

#aboutcolumn2 {
    margin-top: 20px;
    width: 45%;
    display: flex;
    flex-wrap: wrap;
}

#aboutcolumn2 .horizontal {
    width: 300px;
    height: auto;
}

#aboutcolumn2 img {
    width: 40%;
    height: auto;
    margin-left: 2%;
    margin-bottom: 2%;
}

#hidden {
    display: none;
}

ul {
    padding-top: 0px;
    margin-top: 0px;
}

main {
    margin-left: 10%;
    margin-right: 10%;
}
