@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

@font-face {
    font-family: shoreline-script;
    src: url(shorelines.otf);
}

p {
    font-size: 40px;
    font-family: "source sans pro", sans-serif;
}

h1 {
    font-size: 60px;
    font-family: "source sans pro", sans-serif;
}

h2 {
    font-family: shoreline-script;
    font-size: 40px;
}

.hidden {
    visibility: hidden;
}

.menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    background-color: rgb(54,163,32);
    background-color: rgba(54,163,32, 0.9);
}

.menu-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.menu a {
    font-family: "source sans pro", sans-serif;
    padding: 8px;
    text-decoration: none;
    font-size: 40px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.menu a:hover, .menu a:focus {
    font-weight: 700;
}

.menu #close {
    position: absolute;
    top: 0px;
    right: 2%;
    font-size: 100px;
}

@media screen and (max-height: 450px) {
  .menu a {font-size: 20px}
  .menu #close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

#top img {
    height: 100px;
    margin-left: 10%;
    margin-top: 2%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    margin-left: 1%;
    width: 180px;
    height: 100px;
}

#open {
    margin-right: 2%;
    width: 60px;
    height: 40px;
    cursor: pointer;
}

footer {
    padding-top: 0.1%;
    padding-bottom: 0.1%;
    margin-top: 60px;
    margin-bottom: 0%;
    background-color: #36A320;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer div {
    display: flex;
}

#heart {
    padding-top: 50px;
    height: 50px;
    width: auto;
    padding-right: 20px;
}

#socials img {
    height: 100%;
    width: auto;
    padding-left: 30px;
}

#socials {
    height: 50px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container {
    margin-top: 35px;
    position: relative;
    width: 30%;
    height: 300px;
    cursor: pointer;
}

.image {
    width: 100%;
    height: auto;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #000;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.text {
    color: white;
    font-size: 60px;
    position: absolute;
    top: 30%;
    left: 40%;
    transform: translate(-35%, -50%);
    -ms-transform: translate(-35%, -50%);
    text-align: center;
    font-weight: 700;
}

.container:hover .overlay {
  bottom: 0;
  height: 100%;
}

