@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

@font-face {
    font-family: shoreline-script;
    src: url(shorelines.otf);
}

#footer {
    font-size: 24px;
    font-family: "source sans pro", sans-serif;
}

p, ul {
    font-size: 24px;
    font-family: "source sans pro", sans-serif;
}

h1 {
    font-size: 60px;
    font-family: "source sans pro", sans-serif;
    padding-bottom: 0;
    margin-bottom: 0;
}

#cursive {
    font-family: shoreline-script;
    font-size: 24px;
}

a {
    text-decoration: none;
    color: #707070;
}

a:hover {
    color: #EF180F;
}

.caption {
    font-size: 18px;
    font-family: "source sans pro", sans-serif;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: 400;
}

h2 {
    font-size: 36px;
    font-family: "source sans pro", sans-serif;
    color: black;
    font-weight: 700;
    margin-bottom: 0;
    padding-bottom: 0;
}

h3 {
    font-size: 24px;
    font-weight: 700;
    font-family: "source sans pro", sans-serif;
    padding-bottom: 0;
    margin-bottom: 0;
}

.hidden {
    visibility: hidden;
}

.hide {
    display: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 2%;
  background-color: rgb(255,165,31);
  background-color: rgba(255,165,31,0.9);
}

.menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    background-color: rgb(54,163,32);
    background-color: rgba(54,163,32, 0.9);
}

.menu-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.menu a {
    font-family: "source sans pro", sans-serif;
    padding: 8px;
    text-decoration: none;
    font-size: 40px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.menu a:hover, .menu a:focus {
    font-weight: 700;
}

.menu #close {
    position: absolute;
    top: 0px;
    right: 2%;
    font-size: 100px;
}

@media screen and (max-height: 450px) {
  .menu a {font-size: 20px}
  .menu #close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

#top img {
    height: 100px;
    margin-left: 10%;
    margin-top: 2%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    margin-left: 5%;
    width: 13%;
    height: auto;
}

#open {
    margin-right: 2%;
    width: 5%;
    height: auto;
    cursor: pointer;
}

footer {
    margin-top: 2%;
    margin-bottom: 0%;
    background-color: #36A320;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#socials img {
    height: 100%;
    padding-left: 30px;
}

#socials {
    height: 30px;
}

main {
    margin-left: 10%;
    margin-right: 10%;
}

section {
    display: flex;
    flex-wrap: wrap;
}

section p {
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 1%;
}

iframe {
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
}

#team {
    justify-content: space-around;
}

#team img {
    padding-top: 3%;
    height: 200px;
}

.container {
    margin-top: 40px;
    position: relative;
    width: 30%;
    height: 300px;
    cursor: pointer;
}

.image {
    width: 100%;
    height: auto;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #000;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.text {
    color: white;
    font-size: 36px;
    position: absolute;
    top: 30%;
    left: 40%;
    transform: translate(-35%, -50%);
    -ms-transform: translate(-35%, -50%);
    text-align: center;
    font-weight: 700;
}

.container:hover .overlay {
  bottom: 0;
  height: 100%;
}

#projects {
    justify-content: space-around;
}

button {
  border: solid #878787 1px;
  border-radius: 10px;
  color: #36A320;
  padding: 12px 32px;
  text-align: center;
  font-size: 16px;
  transition: 0.5s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

button:hover {
    background-color: #36A320;
    color: white;
}

.buttons {
    margin-right: 10%;
    margin-top: 1%;
}

#tag {
    font-size: 18px;
}

.column {
    width: 45%;
    margin-right: 5%;
}

.column img {
    width: 90%;
    padding-top: 2%;
}

.emote, .mustangular, .myndful, .couch {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 0%;
    padding-bottom: 0%;
    height: 30%;
}

.emote img {
    height: 15%;
    width:15%;
    padding-right: 5%;
    margin-bottom: 0%;
    padding-bottom: 0%;
}

#profile {
    height: 60%;
    width: 50%;
    padding-left: 30%;
}

.mustangular img {
    height: 45%;
    width: 45%;
    padding-right: 5%;
    margin-bottom: 0%;
    padding-bottom: 0%;
}

.myndful img {
    height: 30%;
    width: 30%;
    padding-right: 5%;
}

.couch img {
    height: 30%;
    width: 30%;
    padding-right: 5%;
}
